aenum>=3.1.11,<4
future>=0.18.2
olefile==0.47 ; python_version<'3.4'
pathlib2>=2.3.4,<3
pythonnet>=2.4.0,<3 ; python_version<'3'
pythonnet>=3.0.0,<4 ; python_version>='3'
sqlparse>=0.3.1,<0.4 ; python_version<'3'
sqlparse>=0.4.4,<0.5 ; python_version>='3'
XlsxWriter>=2,<3 ; python_version<'3'
XlsxWriter>=3,<4 ; python_version>='3'