/test_python_toolbox.TestTool.pyt.xml
/test_python_toolbox.pyt.xml
/*.pytc
/example.copy.sddraft
/example.savetest.sddraft
/imageservice.copy.sddraft
/pythongpservice.copy.sddraft
/geodataservice.copy.sddraft
